<footer>
    <div class="aligncenter fixfloat">
        <br>
        <hr>
        <p>Follow or message me on <a
                href="https://twitter.com/BeckyWilson_ca" target="_blank">Twitter</a> or email me at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#101;&#99;&#107;&#121;&#109;&#97;&#114;&#105;&#101;&#46;&#119;&#105;&#108;&#115;&#111;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#98;&#101;&#99;&#107;&#121;&#109;&#97;&#114;&#105;&#101;&#46;&#119;&#105;&#108;&#115;&#111;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>.</p>
        <hr>
        <p>© Copyright 2022 All rights reserved.</p>
        <br>
    </div>
    <!-- Default Statcounter code for BeckyWilson.ca
http://beckywilson.ca -->
    <script type="text/javascript">
        var sc_project = 12561785;
        var sc_invisible = 1;
        var sc_security = "d0c88171";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript>
        <div class="statcounter"><a title="Web Analytics
    Made Easy - StatCounter" href="https://statcounter.com/" target="_blank"><img class="statcounter"
                    src="https://c.statcounter.com/12561785/0/d0c88171/1/" alt="Web Analytics Made Easy -
    StatCounter"></a></div>
    </noscript>
    <!-- End of Statcounter Code -->
  </footer>