<br>
<div class="aligncenter">
<p><a class="plain" href="../index.html"> <span class="sitetitle" >Becky Wilson</span></a></p>
<hr>
<!-- <p class="subtitle">Hello. My name is Becky. Welcome to the virtual home of my creative projects.</p> -->
<div class="columns">
    <div></div>
    <div>
        <a href="../svcdesign"><h2>Service Design</h2></a>
    </div>
    <div>
        <a href="../uidesign"><h2>UI Design</h2></a>
    </div>
    <div>
        <a href="../sitedesign"><h2>Other Creative Projects</h2></a>
    </div>
    <div></div>
</div>
</div>
<hr>
<br>