---
title: Website Design
layout: 'base.njk'
---

<h1> {{title}} </h1>
<br>
<div class="columns">
    <div>
        <!-- <hr class="primary"> -->
        <a href="../creators"><h2>Creator Website Templates</h2></a>
        <p>Many creators find websites annoying. They need their website. They use their website. And they want someone
            else to take care of their website. The effort spent on supposedly easy-to-use options are not cost-effective. The learning curve is steep and exhausts the creator's limited time and energy. </p>
        <p>Early creators need to be particularly strategic about their focus. Sure, everyone needs to manage their time
            well. But early creators are lucky to have an hour each day to spend creating, and they need to spend that
            time creating, not learning about how to select a theme, change options, and check security. Experienced creators know that, eventually, some business related tasks need to be outsourced. Paying someone
            else to manage responsibilities they don't enjoy frees up their time for the parts of their
            business they love.</p>
        <p>These templates are designed to allow creators to have their own, simple site without spending time learning
            technical details. It allows them to have their site and create their art too.</p>
            <br>
            <br>
    </div>
</div>
<div class="columns">
    <div>
        <hr class="primary">
        <h2>Written by Elle Boyd</h2>
        <img class="imageright" src="../assets/images/ebsite.jpg" alt="Elle Boyd Site Header">
        <img class="imageright" src="../assets/images/ebheader.jpg" alt="Elle Boyd Site Header">
        <p>Elle Boyd is an author based in Halifax, Nova Scotia. She wanted a site to showcase her works-in-progress
            without fancy graphics or forms.</p>
        <p>I curated the images from <a href="https://pixabay.com/">Pixabay</a> and helped Elle set up hre site. She was
            pleased with her simple and clean site.</p>
        <p><i>If you enjoy stories with a dark edge like I do, you might want to check out <a
                    href="https://elleboyd.com/">her site</a> or read her short stories, published on <a
                    href="https://blog.reedsy.com/creative-writing-prompts/author/elle-boyd/">Reedsy</a>.</i> </p>
        <br>
        <br>
    </div>
    <div>
        <hr class="primary">
        <h2>Find the Helpers Website</h2>
        <img class="imageright wireframe" src="../assets/images/SimpleLogo200w.jpg"
            alt="Image with one person helping another person climb a wall. Text reads: When you need help. When you can help.">
        <p>This project is a website redesign. I ran a site called FindTheHelpers.Online that was a compilation site
            of organizations or charities that provided support for people, the animals, or the environment.</p>
        <ul>
            <li>Select a new domain name.</li>
            <li>Create this style of template and add to the creator website templates.</li>
            <li>Integrate categories and tags.</li>
            <li>Add mapping of the locations into the template.</li>
        </ul>
        <p>Once the new design is completed, organizations will be added to the site and the site re-launched.</p>
        <br>
        <br>
    </div>
    <div>
        <hr class="primary">
        <h2>Itotonbo Studios Website</h2>
        <img class="wireframe imageright" src="../assets/images/SafeHarbour.jpg"
            alt="Picture of an ocean inlet at Peggys Cove in Nova Scotia, Canada.  The coastline is rocky with houses along the horizon. Two small boats are tied up, floating safely in the harbour.">
        <p> <a href="http://www.ItotonboStudios.com">Itotonbo Studios</a> is my photography website.
            Currently, this is a Weebly site. </p>
        <p>One of my many personal projects is to create a gallery page, incorporating proper
            alt tags and audio descriptions. I will also adjust the contrast and update the text and images.</p>
        <br>
        <br>
    </div>
</div>