---
title: Website Design
layout: 'base.njk'
---

<h1> {{title}} </h1>
    <br>
    <div class="columns">
        <div>
            <hr class="primary">
            <h2>Written by Elle Boyd</h2>
            <img class="imageright" src="../assets/images/ebsite.jpg" alt="Elle Boyd Site Header">
            <img class="imageright" src="../assets/images/ebheader.jpg" alt="Elle Boyd Site Header">
            <p>Elle Boyd is an author based in Halifax, Nova Scotia. She wanted a site to showcase her works-in-progress without fancy graphics or forms.</p>
            <p>I curated the images from <a href="https://pixabay.com/">Pixabay</a> and helped Elle set up hre site. She was pleased with her simple and clean site.</p>
            <p><i>If you enjoy stories with a dark edge like I do, you might want to check out <a href="https://elleboyd.com/">her site</a> or read her short stories, published on <a href="https://blog.reedsy.com/creative-writing-prompts/author/elle-boyd/">Reedsy</a>.</i> </p>
            <br>
        </div>
        <div>
            <hr class="primary">
            <h2>Find Help Be Help Website</h2>
            <img class="imageright wireframe" src="../assets/images/SimpleLogo200w.jpg"
            alt="Image with one person helping another person climb a wall. Text reads: When you need help. When you can help.">
    <p>This project is a website redesign. I ran a site called FindTheHelpers.Online that was a compilation site
                of organizations or charities that provided support for people, the animals, or the environment.</p>
            <ul>
                <li>A new domain must be selected and purchased.</li>
                <li>Recreate the categories and tags.</li>
                <li>The organizations must be added back to the site, with the additional organizations added in as
                    well.</li>
                <li>Learn how to map the locations of the organizations.</li>
            </ul>
            <br>
            <br>
        </div>
        <div>
            <hr class="primary">
            <h2>Itotonbo Studios Website</h2>
            <img class="wireframe imageright" src="../assets/images/SafeHarbour.jpg" alt="Picture of an ocean inlet at Peggys Cove in Nova Scotia, Canada.  The coastline is rocky with houses along the horizon. Two small boats are tied up, floating safely in the harbour.">
            <p> <a href="http://www.ItotonboStudios.com">Itotonbo Studios</a> is my photography website.
                Currently, this is a Weebly site. One of my projects is to create a gallery page, incorporating proper
                alt tags and audio descriptions. I also need to adjust the contrast and update the text and images.</p>
            <br>
            <br>
        </div>
    </div>